### Part 1: Data Gathering
1. Start by acquiring the data from Tennessee's 7th District, which is available at https://www.opensecrets.org/races/summary?cycle=2020&id=TN07&spec=N. If you click the "Download .csv file", you can get a csv for this district. However, we don't want to have to click this button across all districts. Instead, we'll use Python to help automate this process. Start by sending a get request to the download button URL, https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN07. Convert the result to a DataFrame.

In [2]:
import pandas as pd
import re
import requests
import plotly.express as px
from bs4 import BeautifulSoup, SoupStrainer
from IPython.core.display import HTML
from io import StringIO

In [3]:
URL = 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN07&spec=N'
response = requests.get(URL).text
soup = BeautifulSoup(requests.get(URL).text, features="html.parser")

In [4]:
TN07_df = pd.read_csv(StringIO(response))
TN07_df

,cid,FirstLastP,Rcpts,Spent,PACs,Indivs,Cand,Other,EndCash,LgIndivs,...,Result,CRPICO,State,IncCID,Incumbent,primarydate,DistIDCurr,capeye,sort,SmLgIndivsNote
0,N00041873,Mark Green (R),1194960.47,935486.67,171900.0,819151.42,0.0,203909.05,287888.55,819151.42,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,1,N
1,N00045536,Kiran Sreepada (D),206644.28,207190.98,4000.0,202644.28,0.0,0.00,0.00,179129.75,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,,0,2,N
2,N00047077,Ronald Brown (I),1750.00,0.00,0.0,1750.00,0.0,0.00,9006.00,300.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,,0,2,N
3,N00046592,Scott Vieira Jr (I),655.47,1048.51,10.0,45.00,35.0,565.47,-196.52,0.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,,0,2,N
4,N00045535,Benjamin Estes (3),0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,NaN,0,2,N

2. Once you have working code for Tennessee's 7th District, expand on your code to capture all of Tennessee's districts into a single DataFrame. Make sure that you can distinguish which district each result came from. Export the results to a csv file.

In [ ]:
# website = 'https://www.opensecrets.org/races/election?cycle=2020&id=TN'
# response_website = requests.get(website).text
# website_soup = BeautifulSoup(requests.get(website).text, features="html.parser")

In [ ]:
# dataframes = []
# website = 'https://www.opensecrets.org/races/election?cycle=2020&id=TN'

# for URL in :
#     URL = f'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN{i.zfill(2)}'
#     response = requests.get(URL).text
#     soup = BeautifulSoup(requests.get(URL).text, features="html.parser")
#     TN_df = pd.read_csv(StringIO(response))
#     dataframes.append(TN_df)

# pd.concat(dataframes, ignore_index=True)

3. Once you have working code for all of Tennessee's districts, expand on it to capture all states and districts. The number of districts for each state can be found at https://en.wikipedia.org/wiki/2020_United_States_House_of_Representatives_elections. You may also find the table of state abbreviations here helpful: https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations. Export a csv file for each state.

In [12]:
wiki_district_url = 'https://en.wikipedia.org/wiki/2020_United_States_House_of_Representatives_elections'
wiki_abbrev_url = 'https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations'

In [14]:
r_district = requests.get(wiki_district_url)
soup_district = BeautifulSoup(r_district.text, features = 'html.parser')
district_table = str(soup_district.findAll('table', {'class': 'wikitable'}))

In [15]:
seats_df = pd.read_html(StringIO(str(district_table)))[1][['State', 'Total seats']]
seats_df

             State Total seats
             State Total seats
0          Alabama           7
1           Alaska           1
2          Arizona           9
3         Arkansas           4
4       California          53
5         Colorado           7
6      Connecticut           5
7         Delaware           1
8          Florida          27
9          Georgia          14
10          Hawaii           2
11           Idaho           2
12        Illinois          18
13         Indiana           9
14            Iowa           4
15          Kansas           4
16        Kentucky           6
17       Louisiana           6
18           Maine           2
19        Maryland           8
20   Massachusetts           9
21        Michigan          14
22       Minnesota           8
23     Mississippi           4
24        Missouri           8
25         Montana           1
26        Nebraska           3
27          Nevada           4
28   New Hampshire           2
29      New Jersey          12
30      New Mexico           3
31        New York          27
32  North Carolina          13
33    North Dakota           1
34            Ohio          16
35        Oklahoma           5
36          Oregon           5
37    Pennsylvania          18
38    Rhode Island           2
39  South Carolina           7
40    South Dakota           1
41       Tennessee           9
42           Texas          36
43            Utah           4
44         Vermont           1
45        Virginia          11
46      Washington          10
47   West Virginia           3
48       Wisconsin           8
49         Wyoming           1
50           Total         435

In [16]:
r_abbrev = requests.get(wiki_abbrev_url)
soup_abbrev = BeautifulSoup(r_abbrev.text, features = 'html.parser')
abbrev_table = str(soup_abbrev.findAll('table', {'class': 'wikitable'}))

In [17]:
abbrev_df = pd.read_html(StringIO(str(abbrev_table)))[1][['Name', 'USPS']].rename(columns = {'Name': 'State', 'USPS': 'Code'})

In [18]:
state_code_df = pd.merge(seats_df, abbrev_df)
state_code_df

             State Total seats               Code
             State Total seats Unnamed: 5_level_1
0          Alabama           7                 AL
1           Alaska           1                 AK
2          Arizona           9                 AZ
3         Arkansas           4                 AR
4       California          53                 CA
5         Colorado           7                 CO
6      Connecticut           5                 CT
7         Delaware           1                 DE
8          Florida          27                 FL
9          Georgia          14                 GA
10          Hawaii           2                 HI
11           Idaho           2                 ID
12        Illinois          18                 IL
13         Indiana           9                 IN
14            Iowa           4                 IA
15          Kansas           4                 KS
16        Kentucky           6                 KY
17       Louisiana           6                 LA
18           Maine           2                 ME
19        Maryland           8                 MD
20   Massachusetts           9                 MA
21        Michigan          14                 MI
22       Minnesota           8                 MN
23     Mississippi           4                 MS
24        Missouri           8                 MO
25         Montana           1                 MT
26        Nebraska           3                 NE
27        Nebraska           3                 NB
28          Nevada           4                 NV
29   New Hampshire           2                 NH
30      New Jersey          12                 NJ
31      New Mexico           3                 NM
32        New York          27                 NY
33  North Carolina          13                 NC
34    North Dakota           1                 ND
35            Ohio          16                 OH
36        Oklahoma           5                 OK
37          Oregon           5                 OR
38    Pennsylvania          18                 PA
39    Rhode Island           2                 RI
40  South Carolina           7                 SC
41    South Dakota           1                 SD
42       Tennessee           9                 TN
43           Texas          36                 TX
44            Utah           4                 UT
45         Vermont           1                 VT
46        Virginia          11                 VA
47      Washington          10                 WA
48   West Virginia           3                 WV
49       Wisconsin           8                 WI
50         Wyoming           1                 WY

In [19]:
state = state_code_df[state_code_df['State']['State'] == 'Tennessee']

In [ ]:
if num == district:
    num =0